@import "tailwindcss";

* {
  @apply antialiased;
  text-rendering: geometricPrecision;
}

::-moz-selection {
  @apply bg-zinc-600 text-white;
  -webkit-text-fill-color: white;
}

::selection {
  @apply bg-zinc-600 text-white;
  -webkit-text-fill-color: white;
}

@theme {
  --font-sans: var(--sans-font);
  --font-sans-secondary: var(--sans-secondary-font);
  --font-serif: var(--serif-font);
  --font-mono: var(--mono-font);
  --font-mono-secondary: var(--mono-secondary-font);
  --font-instrument-serif: var(--instrument-serif-font);

  --shadow-heavy:
    0 1px 1px 0.5px rgba(41, 41, 41, 0.04),
    0 3px 3px -1.5px rgba(41, 41, 41, 0.02),
    0 6px 6px -3px rgba(41, 41, 41, 0.04),
    0 12px 12px -6px rgba(41, 41, 41, 0.04),
    0 24px 24px -12px rgba(41, 41, 41, 0.04),
    0 48px 48px -24px rgba(41, 41, 41, 0.04), 0 0 0 1px rgba(41, 41, 41, 0.04),
    inset 0 -1px 1px -0.5px rgba(51, 51, 51, 0.06);

  @keyframes swing {
    from {
      transform: rotate(3deg);
    }
    to {
      transform: rotate(-3deg);
    }
  }
  --animate-swing: swing 1s infinite ease-in-out alternate;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

nav.css-tabs {
  ul {
    &:before {
      @apply absolute z-0 rounded-lg bg-neutral-700;
      left: anchor(--active-link left);
      width: anchor-size(--active-link width);
      top: anchor(--active-link top);
      bottom: anchor(--active-link bottom);
      margin: 0.3rem 0;
      content: "";

      transition:
        left 0.2s,
        width 0.2s,
        opacity 0.2s;
    }

    li {
      z-index: 1;
      @apply py-2 px-3;

      &:has(a:is(:hover, :focus-visible)) {
        anchor-name: --active-link;
      }

      a {
        @apply outline-hidden;
      }
    }
  }
}
